body {
    font: 13px Helvetica, Arial;
    height: 100%;
    background-image: url("../files/fondo.png");
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



#messages li:nth-child(odd) {
    background: #eee;
}

.a{
    height: 92vh;
}

ul{
    list-style: none;
}

.imagen{
    height: 150px;
    width: 150px;
}

.carta{
    width: 70%;
}

.margenabajo{
    margin-bottom: 60px;
}

